# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [14]:
orders = pd.read_csv("Orders/Orders.csv")

orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [25]:
aggregate = orders.groupby('CustomerID')['amount_spent'].sum()

In [26]:
aggregate

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [32]:
aggregate = aggregate.reset_index()

In [33]:
aggregate.columns = ['customer_id', 'amount_spent']

In [34]:
lower_bound = 0.25
upper_bound = 0.75

In [35]:
quantile_range = aggregate['amount_spent'].quantile([lower_bound, upper_bound])

In [36]:
quantile_range

0.25     307.245
0.75    1661.640
Name: amount_spent, dtype: float64

In [37]:
uantile_range = aggregate['amount_spent'].quantile([lower_bound, upper_bound])

In [38]:
customers = aggregate[(aggregate['amount_spent'] >= quantile_range[lower_bound]) &
                                (aggregate['amount_spent'] <= quantile_range[upper_bound])]

In [76]:
orders['is_vip'] = orders['amount_spent'] > orders['amount_spent'].median()

In [82]:
aggregated = orders.groupby("is_vip").count()

In [83]:
aggregated = aggregated.reset_index()

In [84]:
aggregated.columns = ['is_vip', 'count']

ValueError: Length mismatch: Expected axis has 15 elements, new values have 2 elements

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [70]:
orders['is_vip'] = orders['amount_spent'] > orders['amount_spent'].median()

In [71]:
aggregated = orders.groupby('Country')['is_vip'].sum()

In [72]:
aggregated = aggregated.reset_index()

In [73]:
aggregated.columns = ['Country', 'vip_count']

In [74]:
most_vips = aggregated.loc[aggregated['vip_count'].idxmax()]['Country']

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here